index:(element="j-notebook")

  j-header(
    notebook='{{notebook}}'
    currentCell='{{currentCell}}'
    cells='{{cells}}'
  )
  
  #site(style="display:block;")
    #ipython-main-app
      #notebook_panel
        #notebook
          #notebook-container.container
              each cells as #cell, #idx
                j-cell(
                  idx="{{#idx}}"
                  cell="{{#cell}}"
                  cellId="{{#cell.id}}"
                  currentCell="{{currentCell}}"
                  userId="{{userId}}"
                )
          .end_space
