index:(element="j-notebook")

  j-header(
    notebook='{{notebook}}'
    currentCell='{{currentCell}}'
    cells='{{cells}}'
  )
  
  #site(style="display:block;")
    #ipython-main-app
      #notebook_panel
        #notebook
          #notebook-container.container
            each cells as #cell
              j-cell(
                cell='{{#cell}}'
                currentCell='{{currentCell}}'
                userId='{{userId}}'
              )
          .end_space
