index:(element="j-notebook")

  j-header(
    notebook="{{notebook}}"
    currentCell="{{currentCell}}"
    cells="{{cells}}"
    user="{{user}}"
  )
  
  #site(style="display:block;")
    #ipython-main-app
      #notebook_panel
        #notebook
          #notebook-container.container
              each cells as #cell, #idx
                j-cell(
                  idx="{{#idx}}"
                  cell="{{#cell}}"
                  cellId="{{#cell.id}}"
                  currentCell="{{currentCell}}"
                  user="{{user}}"
                )
          .end_space
