index:(element="j-toolbar")
  #maintoolbar.navbar
    .toolbar-inner.navbar-inner.navbar-nobg
      #maintoolbar-container.container.toolbar
        .btn-group
          j-button(
            title="Insert Cell Above"
            icon="caret-square-o-up"
            on-clicked="insertCell false"
          )
          j-button(
            title="Insert Cell Below"
            icon="caret-square-o-down"
            on-clicked="insertCell true"
          )
          j-button(
            title="Remove Cell"
            icon="remove"
            on-clicked="removeCell()"
          )

        .btn-group
          j-button(
            title="Run Cell"
            icon="play"
            on-clicked="runCell()"
          )

        .btn-group
          j-button(
            title="Move Cell Up"
            icon="arrow-up"
            on-clicked="moveCell false"
          )
          j-button(
            title="Move Cell Down"
            icon="arrow-down"
            on-clicked="moveCell true"
          )
